body {
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color: rgb(48, 46, 46);
}

h1, p {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.icon {
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-card {
    font-size: 20px;
    background-color: black;
    color: lightgray;
    font-family: monospace;
    margin-top: 0px;
    margin-bottom: 0px;
}

#final-result {
    background-color: aquamarine;
}

#presenters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: bisque;
    padding: 20px;
}

#past-presenters {
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.locked {
    background-color: grey;
}