body {
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color: #0d1117;
    font-family: monospace;
}

h1, p {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

h1 {
    color: #c9d1d9;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

button {
    width: 300px;
    background-color: teal;
}

.reset {
    background-color: darksalmon;
}

.icon {
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-card {
    font-size: 20px;
    background-color: black;
    color: #c9d1d9;
    margin-top: 0px;
    margin-bottom: 0px;
}

#final-result {
    background-color: teal;
}

#presenters-list {
    background-color: darksalmon;
}

#past-presenters {
    background-color: grey;
}

.locked {
    background-color: grey;
}